@model ResolveJa.Core.Entities.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
    </dl>
    <div>
        @if (ViewData["Status"].Equals(0))
        {
            <a asp-action="Edit" style="font-size: 22px; text-decoration: none;" asp-route-id="@Model?.Id">RESPONDER</a>
        }
        
        @if (User.IsInRole("Gestor"))
        {
            <span style="font-size: 22px;"> | </span>
            <a asp-action="Atribuir" style="font-size: 22px; text-decoration: none;" asp-route-id="@Model?.Id">ATRIBUIR</a>
        }
    </div>
</div>
<div>
    <hr/>
    @if (ViewData["Status"].Equals(0))
    {
        <a asp-action="Index" asp-route-status=1>RETORNAR</a>
    }
    
    @if (ViewData["Status"].Equals(1))
    {
        <a asp-action="Index" asp-route-status=2>RETORNAR</a>
    }
    
</div>
