@model List<ResolveJa.Application.Mvc.ViewModels.TicketListMvcViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Report">Report</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @if (item.Funcionario == null)
                {
                    <text>NÃO ATRIBUÍDO</text>
                }
                @if (item.Funcionario != null)
                {
                    @Html.DisplayFor(modelItem => item.Funcionario)
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">DETALHES</a>
            </td>
        </tr>
}
    </tbody>
</table>
